.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efeff1;
  padding: 60px;
  border-radius: 50px;
  border: 1px solid black;
}

.header {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 10px !important;
  color: #004180;
  font-size: x-large !important;
}

.details {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: 50px !important;
  margin-left: 10px !important;
  color: #004180;
  font-size: large !important;
}

.input {
  margin-bottom: 25px !important;
  width: 500px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 30em;
  padding-bottom: 15px;
}

/*Material UI Button customization*/
.buttonsLogin {
  width: 20em;
  height: 4em;
  margin-bottom: 15px !important;
  background-color: #4887c7 !important;
  border-radius: 17px !important;
  font-size: large !important;
  font-weight: normal;
}

/*Material UI Button customization*/
.buttonsGoogle {
  width: 20em;
  height: 4em;
  margin-bottom: 15px !important;
  background-color: #4887c7 !important;
  color: white !important;
  border-radius: 17px !important;
  font-size: large !important;
  font-weight: normal;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #004180;
}

.actions :hover {
  text-decoration: underline;
  cursor: pointer;
}

.signUpText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004180;
}

.signUpText :hover {
  text-decoration: underline;
  cursor: pointer;
}

.divider {
  margin-bottom: 15px !important;
}

.text {
  text-align: center;
  align-self: center;
  font-size: large;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}
