:root {
  --primary-blue: #4887c7;
}

.container {
  overflow: hidden !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}

.navbar {
  background-color: var(--primary-blue) !important;
  position: fixed !important;
}

.icon {
  font-size: xx-large;
  font-weight: bold;
  color: #ffff;
  padding-left: 15px;
  padding-right: 15px;
}

.accountBTN {
  margin-right: 15px !important;
}

.logo {
  transition: all 0.2s ease-in-out;
}

.logo :hover {
  cursor: pointer !important;
  transform: scale(1.1) !important;
}
