video {
  z-index: -1;
  position: fixed;
  object-fit: cover;
  object-position: center;
  transform: scale(-1, 1);
  top: 125px;
  height: 50em;
  width: 100vw;
  opacity: 1;
}

.overlay {
  z-index: -1;
  position: fixed;
  top: 125px;
  height: 100%;
  width: 100vw;
  opacity: 1;
  background: rgb(105, 105, 105);
  mix-blend-mode: overlay;
}
